<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="menu-icon">
            </div>

            <div class="logoFoto">
                <img class="logo" th:src="@{/assets/legacynames_transparente.png}" alt="logo">
            </div>
            <div class="nav-items">
                <img class="Iconraton" th:src="@{/assets/2.png}" alt="icono raton inicio">
                <li><a class="nav-link" href="/">INICIO</a></li>

                <img class="Iconraton" th:src="@{/assets/1.png}" alt="icono listado ">
                <li><a class="nav-link" href="/games">CATÁLOGO</a></li>

                <img class="Iconraton" th:src="@{/assets/dragonlogo.png}" alt="icono new">
                <li><a class="nav-link" href="/games/new">NEW</a></li>

                <img class="Iconraton" th:src="@{/assets/icono_logarse.png}" alt="icono logarse">

                <li><a  class="nav-link" href="/login" sec:authorize="isAnonymous()">Sign In</a></li>
                <li><a  class="nav-link" href="/logout" sec:authorize="isAuthenticated()">Sign Out</a></li>
            </div>


        </div>

    </nav>
</header>