<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="menu-icon">
            </div>

            <div class="logoFoto">
                <img class="logo" th:src="@{/assets/legacynames_transparente.png}" alt="logo">
            </div>

            <img class="Iconraton" th:src="@{/assets/2.png}" alt="icono raton inicio">
            <a class="nav-link" href="/">INICIO</a>

            <img class="Iconraton" th:src="@{/assets/1.png}" alt="icono listado ">
            <a class="nav-link" href="/games">CATÁLOGO</a>

            <img class="Iconraton" th:src="@{/assets/dragonlogo.png}" alt="icono new">
            <a class="nav-link" href="/games/new">NEW</a>


        </div>

    </nav>
</header>