<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>

<body>
<header th:replace="fragments/header"></header>

<section class="container">
    <div class="game-list">
        <div class="game" th:each="game: ${games}">
            <div class="img-container">
                <img th:src="${game.image}">
            </div>

            <div class="info">
                <div th:text="${game.title}"></div>
                <div th:text="${game.platform}"></div>
                <div th:text="${game.year}"></div>
                <div th:text="${game.category}"></div>
                <div th:text="${game.pegi}"></div>
                <div th:text="${game.price}"><span>€</span></div>

            </div>


        <div class="buttons">
            <a class="btn btn-success btn-sm" th:href="'/games/'+${game.id}+'/edit'">Edit</a>
            <a class="btn btn-danger" th:href="'/games/'+${game.id}+'/delete'">Delete</a>

        </div>
        </div>
    </div>

</section>

<footer th:replace="fragments/footer"></footer>

</body>

</html>