
body {
    margin: 0;
    background-image: linear-gradient(135deg, #E033FF, #474747, #E033FF, #0a0a0a);
}

.logo{
    width: 50%;
    padding: 10px;
    background-color: #e033ff;
}

.container-fluid{
    background-color: #FFC300;
    padding: 15px;
    margin: 0px;
    font-size: 30px;
   font-family: 'Luckiest Guy', cursive;
}
/*SEARCH- BUSQUEDA*/

nav form{
    display: flex;
    height: 40px;
    padding: 0px;
    background: white;
    min-width: 18%!important;
    border: 2px solid rgba(155,155,155,0.2);
    border-radius: 2px;
}
nav form .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #e63600;
    font-size: 17px;
    font-weight: 500;
    background: none;
}
nav form button{
    padding: 5 20px;
    color: #fff;
    font-size: 17px;
    background: black;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
nav form button:hover{
    background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
}

footer{
    padding: 20px;
    margin: 20px;
}
/*Slider */

.slider{
    width: 95%;
    margin: 0;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in-out ;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
}

@keyframes cambio {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}
/*Iconos barra de inicio */

.Iconraton{
    width: 5%;
}
.listadoicono{
    width: 10%;
}

.Iconnew{
    width: 15%;
}

/*modo tarjeta*/

.game-list {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.game {
    width: 400px;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    transition-duration: 0.2s;
    background-image: linear-gradient(135deg,#BF00FF, #612682, #ED9121,#e63600, #FF3800, blueviolet);
}

.game:hover {
    transform: translate(2px, 2px);
    box-shadow: 5px 2px 2px #fcf3cf;
}

.game .img-container {
    width: 300px;
    height: 250px;
    margin: auto;

}

.game .img-container img {
    width: 300px;
    height: 250px;
    display: block;
    margin: auto;
}

.game .info {
    margin: 10px 20px;
    font-size: 16px;

}

.game .buttons {
    margin-top: 50px;
    padding: 10px;
}

.game-filters {
    list-style: none;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    float: left;
}

.game-filters li  img   {
    margin: 0 10px;
    padding:10px;

}

/*Iconos fitros*/



.iconAll{
    width: 10%;

}
.iconciudad{
    width: 10%;

}
.iconnombre{
    width: 5%;

}
h1{
    color: white;
}
<<<<<<< HEAD

=======
.container{
    color:white;
}
>>>>>>> ead458c3fee01b32ad7d596365ea77b9239aff56















