
body {
    margin: 0;
    background-image: linear-gradient(135deg, #E033FF, #474747, #E033FF, #0a0a0a);
}

/*BARRA DE NAVEGACION*/

.logo{
    width: 25%;
    padding: 0;
}

.container-fluid{
    background: linear-gradient(135deg, #ff5733, #ffc300, #ff7700, #ff8400ff, #ff7700ff, #fdc203, #fea703, #f85825, #fe4003);
    padding: 0;
    margin: 0;
    font-size: 30px;
   font-family: 'Luckiest Guy', cursive;
}

.nav-items{
    display: flex;
    flex: 1;
    padding: 0 0 0 0;
}
nav .nav-items li{
    list-style: none;
    padding: 0 10px;
}

nav .nav-items li a:hover{
    color: #E033FF;
}



.navbar {
    padding: 0;
}
.nav-link{
    color: black;
    margin: 0 auto;
    padding:0;
    font-size: 20px;
    text-shadow: 2px 2px 0 orangered
}
.Iconraton{
    width: 4%;
}
/*TEXTO FORMULARIOS*/
h1{
    color: white;
}
.container{
    color:white;
}


/*FOOTER*/
footer{
    padding: 20px;
    margin: 20px;
}
/*Slider */

.slider{
    width: 95%;
    margin: 0;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in-out ;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
}

@keyframes cambio {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}


/*modo tarjeta*/

.game-list {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.game {
    width: 400px;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    transition-duration: 0.2s;
    background-image: linear-gradient(135deg,#BF00FF, #612682, #ED9121,#e63600, #FF3800, blueviolet);
}

.game:hover {
    transform: translate(2px, 2px);
    box-shadow: 5px 2px 2px #fcf3cf;
}

.game .img-container {
    width: 300px;
    height: 250px;
    margin: auto;

}

.game .img-container img {
    width: 300px;
    height: 250px;
    display: block;
    margin: auto;
}

.game .info {
    margin: 10px 20px;
    font-size: 16px;

}

.game .buttons {
    margin-top: 50px;
    padding: 10px;
}


h1{
    color: white;
}

.container{
    color:white;
}















